.home {
  margin-top: 80px;
  height: auto;
  width: 100%;
  padding: 40px 0;

  h2 {
    font-size: 25px;
  }

  @media (max-width: 850px) {
    width: 90%;
  }

  @media (max-width: 650px) {
    padding: 40px 20px;
    width: 100%;
  }

  .songs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 1050px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}