.profile {
  $avatar: 90px;
  width: 100%;
  height: auto;
  position: relative;

  .user {
    width: 100%;
    height: 30vh;
    position: relative;
    margin-bottom: 80px;

    .banner {
      z-index: -1;
      width: 100%;
      height: 100%;
      background: #222;
      margin-bottom: calc($avatar / -2);
    }

    .user_info {
      display: flex;
      margin-left: calc($avatar / 2);

      .avatar {
        width: $avatar;
        height: $avatar;
        border-radius: 100%;
        background: #bababa;
        margin-right: 10px;
      }

      h3 {
        margin-right: 10px;
        font-size: 19px;
        margin-top: 10px;
      }

      p {
        font-size: 15px;
        color: #bababa;
        margin-top: 13px;
      }
    }
  }

  nav {
    padding: 0px calc($avatar / 2);

    ul {
      display: flex;

      li {
        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }
  }

  .tracks {
    padding: 0px calc($avatar / 2);
    margin-top: 10px;

    @media(max-width: 430px) {
      padding: 0 15px;
    }
  }
}