.alert {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .7s ease;
  position: absolute;
  bottom: 20px;
  z-index: 300;

  &.active {
    opacity: 1;
  }

  &.disable {
    opacity: 0;
  }
}

.column {
  width: 80%;

  @media (max-width: 800px) {
    width: 70%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}