.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .7s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 10px;
  z-index: 300;
  background: rgb(201, 18, 18);
  border-radius: 5px;
  width: max-content;

  &.active {
    opacity: 1;
  }

  &.disable {
    opacity: 0;
  }
}

.column {
  width: var(--column-width);
  margin-left: var(--sidebar-width);
  position: relative;

  @media (max-width: 900px) {
    width: calc(var(--column-width) - 7vw);
    margin-left: calc(var(--sidebar-width) + 7vw);
  }

  @media (max-width: 650px) {
    width: 100%;
    margin-left: 0;
  }
}