.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .7s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 10px;
  z-index: 300;
  background: rgb(201, 18, 18);
  border-radius: 5px;
  width: max-content;

  &.active {
    opacity: 1;
  }

  &.disable {
    opacity: 0;
  }
}

.column {
  width: 75%;
  margin-left: 25%;
  position: relative;

  @media (max-width: 650px) {
    width: 100%;
  }
}