.navigation {
  width: 80%;
  left: 20%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  position: fixed;
  z-index: 100;
  background: #010101;
  padding-right: 50px;

  @media (max-width: 1050px) {
    padding-left: 20px;
  }

  @media (max-width: 800px) {
    width: 70%;
    left: 30%;
  }

  @media (max-width: 650px) {
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    left: 0;
  }

  .logo {
    font-size: 20px;
    display: none;

    @media (max-width: 650px) {
      display: block;
    }
  }

  .breadcrumbs {
    display: flex;

    p {
      color: #9b9b9b;

      &:not(:first-child) {
        margin-left: 12px;
      }

      &:last-child {
        color: #fafafa;
      }
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 18px;
    }

    li {
      color: #9b9b9b;

      &:not(:first-child) {
        margin-left: 15px;
      }

      a {
        &.active {
          color: #fafafa;
        }
      }
    }

    @media(max-width: 800px) {
      display: none;
    }
  }

  .user {
    display: flex;
    align-items: center;

    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background: #bababa;
      margin-left: 10px;
    }

    .menu {
      position: absolute;
      top: 70px;
      width: 100px;
      height: auto;
      padding: 10px 10px;
      background: #333;
      border: 2px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
      border-radius: 5px;
      transition: all .5s ease;
    }
  }

  .auth {
    display: flex;

    button {
      width: 80px;
      height: 30px;
      border-radius: 5px;

      &:first-child {
        margin-right: 15px;
        background: #3bad06;
      }

      &:last-child {
        background: #d3d3d3;
        color: #222;
      }
    }
  }
}