.banner {
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 40px;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .content {
    padding: 20px;

    h2 {
      font-size: 25px;
    }

    p {
      font-size: 17px;
      margin-top: 10px;
      width: 100%;
    }
  }
}